<div class="modal_head">
    <i class="icon_close" onclick="common.modal_hide()"></i>
</div>
<div class="modal_body">
    <div class="input_group_modal">
        <p>Are you sure you want to delete the user?</p>
    </div>

    <div class="modal_controls">
        <div>
            <div class="btn_modal" onclick="common.user_delete({$user_id});">Delete</div>
        </div>
        <div>
            <div class="btn_modal light" onclick="common.modal_hide();">Cancel</div>
        </div>
    </div>
</div>

