<div class="modal_head">
    <i class="icon_close" onclick="common.modal_hide()"></i>
</div>
<div class="modal_body">
    <div class="input_group_modal">
        <div>First name</div>
        <input type="text" id="firstname" value="{$user.first_name}">
    </div>
    <div class="input_group_modal">
        <div>Last name</div>
        <input type="text" id="lastname" value="{$user.last_name}">
    </div>
    <div class="input_group_modal">
        <div>Phone</div>
        <input type="text" id="phone" value="{$user.phone}">
    </div>
    <div class="input_group_modal">
        <div>Email</div>
        <input type="text" id="email" value="{$user.email}">
    </div>
    <div class="input_group_modal">
        <div>Plots</div>
        <input type="text" id="plots" value="{$user.plot_id}">
    </div>
    <div class="modal_controls">
        <div>
            <div class="btn_modal" onclick="common.user_edit_update({$user.id});">Save</div>
        </div>
        <div>
            <div class="btn_modal light" onclick="common.modal_hide();">Cancel</div>
        </div>
    </div>
</div>

